### Pandas Lab: Time Shifts & Multi Level Indexing

This lab is designed to introduce you to working with time in a more granular way, and understanding how to build features when your data has hierarchies or panels.  

Ie, when you have repeated observations for the same objects.  This is an important concept because lots of statistical methods don't explicitly account for values which might naturally be correlated with one another over time.  

But lots of data **is** highly correlated over time!  

By the time you're done with this lab, you'll have built 9 columns that capture a variety of information about how an observed value is changing with respect to itself.

**Question 1:** To capture some other aspects of dates, create columns in your dataset that capture the following aspects of each timestamp:

  - What quarter it's in
  - What month it's in
  - What year it's in
  - The number of days passed in the `visit_date` column

If you want to try adding different pandas date parts, you can find them here:  https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#time-date-components

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/harleyhoffmann/dat-02-22/ClassMaterial/Unit2/data/master.csv', parse_dates=['visit_date', 'calendar_date'])

In [3]:
# your answer here
df.sort_values(by=['id','visit_date'], inplace=True)

**Question 2:** Time Series Embedding

Lots of times if you're trying to predict the value of something tomorrow, the most import piece of information is what the value of something is today, and yesterday, and so on.

However, your data won't really "know" about those values unless they can be observed alongside the current observation.

To that end, make three columns that capture the value of the following:

 - What the previous recorded attendance for the previous day
 - The attendance from two days ago
 - The attendance from 7 days ago (ie, week over week)
 
Use a date offset for this to get the exact time interval

In [4]:
# your answer here
one_day_ago = pd.DateOffset(days=1)
two_days_ago = pd.DateOffset(days=2)
one_week_ago = pd.DateOffset(weeks=1)

In [14]:
one_day_shift = df.set_index('visit_date').groupby('id')[['visitors']].shift(freq=one_day_ago).rename({'visitors': 'one_day_ago_visitors'}, axis=1)
two_day_shift = df.set_index('visit_date').groupby('id')[['visitors']].shift(freq=two_days_ago).rename({'visitors': 'two_day_ago_visitors'}, axis=1)
one_week_shift = df.set_index('visit_date').groupby('id')[['visitors']].shift(freq=one_week_ago).rename({'visitors': 'one_week_ago_visitors'}, axis=1)

In [15]:
master = df.merge(one_day_shift, left_on=['id','visit_date'], right_index=True, how='left')

In [16]:
master

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors,one_day_ago_visitors
166836,air_00a91d42b08b08d9,2016-07-01,35,2016-07-01,Friday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,NaN
166837,air_00a91d42b08b08d9,2016-07-02,9,2016-07-02,Saturday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,4.0,35.0
166838,air_00a91d42b08b08d9,2016-07-04,20,2016-07-04,Monday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,NaN
166839,air_00a91d42b08b08d9,2016-07-05,25,2016-07-05,Tuesday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,20.0
166840,air_00a91d42b08b08d9,2016-07-06,29,2016-07-06,Wednesday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...
216643,air_fff68b929994bfbd,2017-04-18,6,2017-04-18,Tuesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,3.0
216644,air_fff68b929994bfbd,2017-04-19,2,2017-04-19,Wednesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,6.0
216645,air_fff68b929994bfbd,2017-04-20,2,2017-04-20,Thursday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,1.0,2.0
216646,air_fff68b929994bfbd,2017-04-21,4,2017-04-21,Friday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,6.0,2.0
216647,air_fff68b929994bfbd,2017-04-22,5,2017-04-22,Saturday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,37.0,4.0

In [17]:
master = master.merge(two_day_shift, left_on=['id','visit_date'], right_index=True, how='left')

In [18]:
master = master.merge(one_week_shift, left_on=['id','visit_date'], right_index=True, how='left')

In [19]:
master

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors,one_day_ago_visitors,two_day_ago_visitors,one_week_ago_visitors
166836,air_00a91d42b08b08d9,2016-07-01,35,2016-07-01,Friday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,NaN,NaN,NaN
166837,air_00a91d42b08b08d9,2016-07-02,9,2016-07-02,Saturday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,4.0,35.0,NaN,NaN
166838,air_00a91d42b08b08d9,2016-07-04,20,2016-07-04,Monday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,NaN,9.0,NaN
166839,air_00a91d42b08b08d9,2016-07-05,25,2016-07-05,Tuesday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,20.0,NaN,NaN
166840,air_00a91d42b08b08d9,2016-07-06,29,2016-07-06,Wednesday,0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,25.0,20.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216643,air_fff68b929994bfbd,2017-04-18,6,2017-04-18,Tuesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,3.0,7.0,1.0
216644,air_fff68b929994bfbd,2017-04-19,2,2017-04-19,Wednesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,6.0,3.0,6.0
216645,air_fff68b929994bfbd,2017-04-20,2,2017-04-20,Thursday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,1.0,2.0,6.0,1.0
216646,air_fff68b929994bfbd,2017-04-21,4,2017-04-21,Friday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,6.0,2.0,2.0,5.0
216647,air_fff68b929994bfbd,2017-04-22,5,2017-04-22,Saturday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,37.0,4.0,2.0,7.0

In [22]:
['visitors'].rolling(3).mean()
#moving average of the last three days, but we still need to groupby restaurant id

id
air_00a91d42b08b08d9  166836          NaN
                      166837          NaN
                      166838    21.333333
                      166839    18.000000
                      166840    24.666667
                                  ...
air_fff68b929994bfbd  216643     5.333333
                      216644     3.666667
                      216645     3.333333
                      216646     2.666667
                      216647     3.666667
Name: visitors, Length: 252108, dtype: float64

In [25]:
df.groupby('id')['visitors'].rolling(3).mean().isnull()

id
air_00a91d42b08b08d9  166836     True
                      166837     True
                      166838    False
                      166839    False
                      166840    False
                                ...
air_fff68b929994bfbd  216643    False
                      216644    False
                      216645    False
                      216646    False
                      216647    False
Name: visitors, Length: 252108, dtype: bool

In [26]:
#shortcut to set one index to another column
three_day_index = df.groupby('id')['visitors'].rolling(3).mean().values

array([        nan,         nan, 21.33333333, ...,  3.33333333,
        2.66666667,  3.66666667])

**Question 3:** Window Statistics

Lots of times, we want to capture some idea of momentum, or how some value changes with what's usually observed.

Ie, if we had 48 purchases in a store today, how does that number compare to what's happened in the last 14 days?  Are things trending up or trending down?  

This also allows us to get a clearer picture of general trends in values, even if there are irregular daily spikes.

To handle these sorts of issues, pandas has an entire section to calculate window statistics called `rolling`, it works like this:

In [27]:
# I'll create a sample dataframe with 30 days worth of values
import numpy as np
index = pd.date_range(start='01/01/2020', end='02/05/2020')
sample_df = pd.DataFrame(np.random.randn(36), index=index, columns=['Value'])
# and here's what it looks like
sample_df.head()

               Value
2020-01-01 -1.542939
2020-01-02 -0.060395
2020-01-03  0.039526
2020-01-04 -1.317190
2020-01-05  0.783779

In [28]:
# and now we'll see rolling 10 day averages
sample_df.rolling(10).mean()

               Value
2020-01-01       NaN
2020-01-02       NaN
2020-01-03       NaN
2020-01-04       NaN
2020-01-05       NaN
2020-01-06       NaN
2020-01-07       NaN
2020-01-08       NaN
2020-01-09       NaN
2020-01-10 -0.386354
2020-01-11 -0.215879
2020-01-12 -0.234880
2020-01-13 -0.275846
2020-01-14 -0.103795
2020-01-15  0.013234
2020-01-16  0.057029
2020-01-17 -0.010153
2020-01-18  0.106883
2020-01-19  0.310174
2020-01-20  0.611779
2020-01-21  0.482916
2020-01-22  0.360409
2020-01-23  0.470826
2020-01-24  0.365337
2020-01-25  0.087050
2020-01-26  0.061511
2020-01-27  0.004414
2020-01-28 -0.126992
2020-01-29 -0.355093
2020-01-30 -0.489380
2020-01-31 -0.291554
2020-02-01 -0.045403
2020-02-02 -0.112991
2020-02-03 -0.173012
2020-02-04 -0.144304
2020-02-05  0.024636

You can specify the number of observations to calculate, and choose your aggregator -- `mean()`, `min()`, `sum()`, etc, although `mean()` is the most common.

**Your Turn:** Calculate the rolling 7, 25, and 60 day moving averages for visits for each restaurant inside the dataset.

And be mindful of performing these on the appropriate levels of your dataset.

In [38]:
# your answer here
df['seven_day_average'] = df.groupby('id')['visitors'].rolling(7).mean().values

In [37]:
df.groupby('id')['visitors'].rolling(25).mean().values

array([ nan,  nan,  nan, ..., 4.72, 4.72, 4.56])

In [36]:
df.groupby('id')['visitors'].rolling(60).mean().values

array([       nan,        nan,        nan, ..., 4.83333333, 4.71666667,
       4.76666667])

One additional note:  for a calculation such as this is best if you shift the values up by one -- why might this be the case?

In [41]:
df.tail(50)

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors,seven_day_average
216601,air_fff68b929994bfbd,2017-03-02,5,2017-03-02,Thursday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,17.0,5.285714
216602,air_fff68b929994bfbd,2017-03-03,7,2017-03-03,Friday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,7.0,5.714286
216603,air_fff68b929994bfbd,2017-03-04,7,2017-03-04,Saturday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,14.0,4.571429
216604,air_fff68b929994bfbd,2017-03-06,5,2017-03-06,Monday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,36.0,5.000000
216605,air_fff68b929994bfbd,2017-03-07,6,2017-03-07,Tuesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,5.0,5.428571
216606,air_fff68b929994bfbd,2017-03-08,4,2017-03-08,Wednesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,5.428571
216607,air_fff68b929994bfbd,2017-03-09,7,2017-03-09,Thursday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,8.0,5.857143
216608,air_fff68b929994bfbd,2017-03-10,8,2017-03-10,Friday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,6.285714
216609,air_fff68b929994bfbd,2017-03-11,7,2017-03-11,Saturday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,4.0,6.285714
216610,air_fff68b929994bfbd,2017-03-13,2,2017-03-13,Monday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,46.0,5.571429
216611,air_fff68b929994bfbd,2017-03-14,4,2017-03-14,Tuesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,46.0,5.428571
216612,air_fff68b929994bfbd,2017-03-15,7,2017-03-15,Wednesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,12.0,5.571429
216613,air_fff68b929994bfbd,2017-03-16,3,2017-03-16,Thursday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,5.428571
216614,air_fff68b929994bfbd,2017-03-17,8,2017-03-17,Friday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,60.0,5.571429
216615,air_fff68b929994bfbd,2017-03-18,8,2017-03-18,Saturday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,41.0,5.571429
216616,air_fff68b929994bfbd,2017-03-19,2,2017-03-19,Sunday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,44.0,4.857143
216675,air_fff68b929994bfbd,2017-03-20,2,2017-03-20,Monday,1,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,3.0,4.857143
216617,air_fff68b929994bfbd,2017-03-21,2,2017-03-21,Tuesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,7.0,4.571429
216618,air_fff68b929994bfbd,2017-03-22,1,2017-03-22,Wednesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,8.0,3.714286
216619,air_fff68b929994bfbd,2017-03-23,3,2017-03-23,Thursday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,11.0,3.714286
216620,air_fff68b929994bfbd,2017-03-24,8,2017-03-24,Friday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,21.0,3.714286
216621,air_fff68b929994bfbd,2017-03-25,7,2017-03-25,Saturday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,7.0,3.571429
216664,air_fff68b929994bfbd,2017-03-26,3,2017-03-26,Sunday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,35.0,3.714286
216622,air_fff68b929994bfbd,2017-03-27,4,2017-03-27,Monday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,4.000000
216623,air_fff68b929994bfbd,2017-03-28,9,2017-03-28,Tuesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,27.0,5.000000
216624,air_fff68b929994bfbd,2017-03-29,2,2017-03-29,Wednesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,4.0,5.142857
216625,air_fff68b929994bfbd,2017-03-30,5,2017-03-30,Thursday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,10.0,5.428571
216626,air_fff68b929994bfbd,2017-03-31,5,2017-03-31,Friday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,2.0,5.000000
216627,air_fff68b929994bfbd,2017-04-01,9,2017-04-01,Saturday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,47.0,5.285714
216628,air_fff68b929994bfbd,2017-04-02,2,2017-04-02,Sunday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,2.0,5.142857
216629,air_fff68b929994bfbd,2017-04-03,2,2017-04-03,Monday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,4.857143
216630,air_fff68b929994bfbd,2017-04-04,4,2017-04-04,Tuesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,4.142857
216631,air_fff68b929994bfbd,2017-04-05,6,2017-04-05,Wednesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,2.0,4.714286
216632,air_fff68b929994bfbd,2017-04-06,6,2017-04-06,Thursday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,8.0,4.857143
216633,air_fff68b929994bfbd,2017-04-07,9,2017-04-07,Friday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,1.0,5.428571
216634,air_fff68b929994bfbd,2017-04-08,4,2017-04-08,Saturday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,33.0,4.714286
216676,air_fff68b929994bfbd,2017-04-09,5,2017-04-09,Sunday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,32.0,5.142857
216635,air_fff68b929994bfbd,2017-04-10,6,2017-04-10,Monday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,5.714286
216636,air_fff68b929994bfbd,2017-04-11,1,2017-04-11,Tuesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,2.0,5.285714
216637,air_fff68b929994bfbd,2017-04-12,6,2017-04-12,Wednesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,2.0,5.285714
216638,air_fff68b929994bfbd,2017-04-13,1,2017-04-13,Thursday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,7.0,4.571429
216639,air_fff68b929994bfbd,2017-04-14,5,2017-04-14,Friday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,4.0,4.000000
216640,air_fff68b929994bfbd,2017-04-15,7,2017-04-15,Saturday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,25.0,4.428571
216641,air_fff68b929994bfbd,2017-04-16,7,2017-04-16,Sunday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,7.0,4.714286
216642,air_fff68b929994bfbd,2017-04-17,3,2017-04-17,Monday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,4.285714
216643,air_fff68b929994bfbd,2017-04-18,6,2017-04-18,Tuesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,5.000000
216644,air_fff68b929994bfbd,2017-04-19,2,2017-04-19,Wednesday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,NaN,4.428571
216645,air_fff68b929994bfbd,2017-04-20,2,2017-04-20,Thursday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,1.0,4.571429
216646,air_fff68b929994bfbd,2017-04-21,4,2017-04-21,Friday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,6.0,4.428571
216647,air_fff68b929994bfbd,2017-04-22,5,2017-04-22,Saturday,0,Bar/Cocktail,Tōkyō-to Nakano-ku Nakano,35.708146,139.666288,37.0,4.142857

In [45]:
df['visitors'].rolling(3).mean().shift()
#use shift to move the values over so that the average is nested on previous days

166836          NaN
166837          NaN
166838          NaN
166839    21.333333
166840    18.000000
            ...
216643     5.666667
216644     5.333333
216645     3.666667
216646     3.333333
216647     2.666667
Name: visitors, Length: 252108, dtype: float64